/**
====================================================
   Title: wolff-whatabook2.css
   Author: Alex Haefner
   Date: 17 July 2022
   Description: Styling for wolff-whatabook2.html
====================================================
*/

/*Styling the list (removes the bullet points */
li {
    list-style-type: none;
}