/**
=======================================================
Title: wolff-bobs-auto-repair.css
Author: Patrick Wolff
Date: 26 June 2022
Description: Styling for wolff-bobs-auto-repair.html
=======================================================
*/

/** Styling for the cart message */
#cartMessage {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

/** Setting the cursor to a pointer on hover */
i:hover {
    cursor: pointer;
}

#cartIcon {
    margin-left: 200px;
    color: var(--card-title-color);
}